@model IEnumerable<Lab33.Models.Book>

@{
    ViewBag.Title = "Books";
}

<h2>Books</h2>


<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
        </tr>
    }

</table>
